<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CTEWS Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
        {% include 'include/_navbar.html' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>
